<div class="container">
  <h1>Ask your question</h1>

  <form action="submit">
    <input type="text" name="input" placeholder="What is your question?">
    <input type="submit" class= "btn btn-primary">
  </form>
</div>
